body {
  margin: 0;
  font-family: "Comfortaa", cursive;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 90%;
  height: auto;
  transform: rotate(20deg);
}

#cover-image {
  width: 90%;
  height: auto;
  transform: rotate(0);
}

.right-container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logo img {
  width: 53px;
  height: 39px;
}

.login-avatar {
  width: 15%;
  height: auto;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #ff4a49;
  color: white;
  width: 90%;
  height: 40px;
  margin-top: 5%;
  font-size: 18px;
  font-family: Comfortaa;
}

button:hover {
  background-color: rgb(0, 212, 237);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ff4a49;
}

a:hover {
  color: #00d4ed;
}

.singup-link {
  float: right;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5%;
}

label {
  color: #cbcacf;
}

input {
  border: none;
  border-bottom: 2px solid grey;
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-family: Comfortaa;
}

input:focus {
  border-bottom: 2px solid #ff4a49;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7%;
}

.creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  color: #ff4a49;
}

#course-year {
  height: 35px;
  width: 40%;
  background-color: #ff4a49;
  border-radius: 8px;
  border: none;
  margin-left: 3%;
  font: large;
  text-align: center;
  color: white;
}

.course-year-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 6%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
